CTATT.key=
GTFS.path=/path/to/google_transit.zip
GTFS.agencyId=Chicago Transit Authority
refreshInterval.vehicles=30

tripUpdates.url=http://localhost:9000/tripUpdates
vehiclePositions.url=http://localhost:9000/vehiclePositions
alerts.url=http://localhost:9000/alerts